/* Custom Theme */
body[data-topbar=dark] #page-topbar {
    background-color: #282e3f;
}
#page-topbar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-header {
    height: 60px;
}
.topnav {
    margin-top: 60px;
}
.bg-main {
    background-color: #2a3042;
}
.alert li {
    list-style: none;
}
.vertical-middle {
    vertical-align: middle!important;
}

/* Bootstrap */
.row {
    margin-left: 0;
    margin-right: 0;
}
